---
layout: default
title: About
permalink: /about/
---
<section class="about">
  <a href="{{site.baseurl}}/" class="button_back"><i class="fa fa-long-arrow-left" aria-hidden="true"></i> Back</a>
  <div class="about_box">
    <div class="author">
        <div class="author_image">
          <img src="{{site.baseurl}}/assets/img/{% if site.author-pic %}{{site.author-pic}}{% endif %}" alt="Author image">
        </div>
        <div class="author_info">
          <h2 class="author_title">{% if site.author-name %}{{site.author-name}}{% else %}Dwayne Newman{% endif %}</h2>
          <p class="author_subtitle">{% if site.about-author %}{{site.about-author}}{% else %}{% endif %}</p>
          <p class="author_subtitle">You can find most of my work on <a href="http//:www.github.com/AdamRTomkins" target="_blank">Github</a>, where my main <a href="http//:www.adamrtomkins.github.io" target="_blank">Blog</a> is hosted, as well as my <a href="http//:www.adamrtomkins.github.io/CityMesh" target="_blank">CityMesh</a> Project. I am part of the Digitial Fruit Fly Brain project at Sheffield, and am a developer on the <a href="http://fruitflybrain.org/" target="_blank">Fruit Fly Brain Observatory</a></p>
        </div>
      </div>

      <div class="about_social">
        {% include social_footer.html %}
      </div>
    </div> <!-- End Section Author -->
</section>